---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const diaryEntries = (await getCollection("diary")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const formatDate = (date: Date) => date.toISOString().split("T")[0].replace(/-/g, ".");
---

<BaseLayout title="cocoG学">
  <main>
    <header>
      <div class="brand">
        <a href="/">cocoG</a>
      </div>
      <nav>
        <a href="/diary">記事一覧</a>
      </nav>
    </header>

    <section class="hero" style="padding-bottom: 32px;">
      <div>
        <h1>最新記事</h1>
        <p>日記とかなんとか。</p>
      </div>
      <div class="card">
        <h3>ひとこと</h3>
        <p>これ, 記事増えていったらこの記事一覧のUI見にくいよなぁ</p>
      </div>
    </section>

    <section class="diary-list diary-card-grid">
      {diaryEntries.map((entry) => (
        <a class="diary-entry diary-card" href={`/diary/${entry.slug}`}>
          <span class="entry-date">{formatDate(entry.data.date)}</span>
          <h3>{entry.data.title}</h3>
          <p>{entry.data.description}</p>
        </a>
      ))}
    </section>

    <footer>
      <div class="footer-card">
        <span class="footer-label">GitHub</span>
        <a href="https://github.com/cocog3k" target="_blank" rel="noreferrer">
          https://github.com/cocog3k
        </a>
      </div>
    </footer>
  </main>
</BaseLayout>
